<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'semantic', 'font-awesome.min', plugin: 'kpi_report' %>
  <%= javascript_include_tag 'semantic.min.js', 'semantic.js', plugin: 'kpi_report' %>
<% end %>
<div>
  <%= form_tag({:controller => 'reportpeople', :action => 'index'}, :method => :get, :id => "query_form") do %>
    <table>
      <tr>
        <td>Kì KI</td>
        <td><%= select_tag "kidanhgia", options_for_select(Project.find(1072).versions.map { |obj| [obj.name, obj.id] }, $kidanhgia) %></td>
        <td>Trạng thái</td>
        <td><%= select_tag "trangthai", options_for_select($trangthai.map { |obj| [obj[1], obj[0]] }, @trangthai) %></td>
      </tr>
    </table>
    <%= submit_tag "Search", :style => "margin: 10px", :name => nil %>
    </p>
  <% end %>
</div>
<div style="margin-left: 10%" class="ui styled accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    Tổng công ty công nghiệp công nghệ cao Viettel
    (<%= $member.sum { |k, v| v.sum { |k1, v1| v1.count { |x| x[2] > 99 } } } %> /
    <%= $member.sum { |k, v| v.sum { |k1, v1| v1.count } } %> )
  </div>
  <div class="content">
    <div class="accordion">
      <% $member.each do |k, v| %>
        <div class="title">
          <i class="dropdown icon"></i>

          <%= k %> (<%= v.sum { |k1, v1| v1.count { |x| x[2] > 99 } } %>/<%= v.sum { |k1, v1| v1.count } %>)
        </div>
        <div class="content">
          <div class="accordion">
            <% v.each do |k1, v1| %>
              <div class="title">
                <i class="dropdown icon"></i>
                <%= k1 %> (<%= v1.count { |x| x[2] > 99 } %>/<%= v1.count %>)
              </div>
              <div class="content">
                <% v1.each do |item| %>
                  <div class="ui middle aligned selection list">
                    <% if item[2] != 100 %>
                      <div class="item negative">
                        <div style="padding: 0" class="content">
                          <div style="background: #FFF6F6 !important;color: #9F3A38 !important;" class="header">
                            <%= item[1] %> ( <%= User.find(item.first).firstname %> )
                            : <%= item[3] %> KPI(s) / (<%= item[2] %>%)
                          </div>
                        </div>
                      </div>
                    <% else %>
                      <div class="item positive">
                        <div style="padding: 0" class="content">
                          <div style="background: #FCFFF5 !important;color: #2C662D !important;" class="header">
                            <%= item[1] %> ( <%= User.find(item.first).firstname %> )
                            : <%= item[3] %> KPI(s) / (<%= item[2] %>%)
                          </div>
                        </div>
                      </div>
                    <% end %>

                  </div>

                <% end %>
              </div>
            <% end %>


          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<button onclick="window.open('/kpi_people_report/exports')">Export Excel</button>
<script>
    $('.ui.accordion')
        .accordion()
    ;
</script>