<% content_for :sidebar do %>
    <div id='links'>
      <h3><%= l(:label_people) %></h3>
      <%= link_to l(:label_people), people_path %>
      <br><%= link_to l(:label_department_plural), departments_path %>
      <% if RedminePeople.use_announcements? && User.current.allowed_people_to?(:edit_announcement) %>
          <br><%= link_to l(:label_announcement_plural), people_announcements_path(:tab => 'people_announcements') %>
      <% end %>
      <% if User.current.allowed_people_to?(:view_people) %>
          <br><%= link_to l(:label_people_calendar), calendar_people_path %>
          <br><%= link_to l(:label_people_holidays), people_holidays_path %>
          <br><%= link_to l(:label_people_organization_chart), org_chart_departments_path %>
      <% end %>
      <% if User.current.allowed_people_to?(:view_leave) %>
        <br><%= link_to l(:label_people_leave_planner), dayoffs_path %>
      <% end %>
    </div>
    <div id="queries">
      <%= render_sidebar_people_queries('people') %>
    </div>

    <% unless true || Department.all_visible_departments.blank? %>
        <div id="people_departments">
          <h3><%= l(:label_department_plural) %></h3>
          <%= department_tree_links(Department.all_visible_departments) %>
        </div>
    <% end %>
    <div id='charts'>
      <h3><%= l(:label_people_report_plural) %></h3>
      <%= link_to l(:label_people_user_activity), people_reports_people_path(report: 'user_activity'), :class => "#{'selected' if @report == 'user_activity'}" %>
      <br>
    </div>
    <% if defined?(tags) && tags.present? %>
    <div id="tags">
      <%= render :partial => 'people/tags_cloud', :object => tags %>
    </div>
    <% end %>

    <% if Person.all_visible_next_birthdays.present? %>
    <div id="next_birthdays" class="person-data">
      <h3><%= l(:label_people_next_birthdays) %></h3>
      <%= render :partial => 'people/person_birthday', :collection => Person.all_visible_next_birthdays %>
    </div>
    <% end %>

    <% if PeopleHoliday.next_holidays.present? %>
    <div id="next_holidays">
      <h3><%= l(:label_people_holidays_next) %></h3>
      <%= render :partial => 'people_holidays/next_holidays' %>
    </div>
    <% end %>

    <% if Person.all_visible_new_people.present? %>
    <div id="new_people">
      <h3><%= l(:label_people_new_people) %></h3>
      <%= render :partial => 'people/person_data', :collection => Person.all_visible_new_people %>
    </div>
    <% end %>

<% end %>
