
<h2><%= l(:label_people_leave_type_new) %></h2>

<%= labelled_form_for @leave_type, url: leave_types_path, html: { id: 'leave_type', multipart: true } do |f| %>
  <%= error_messages_for 'leave_type' %>
  <div class="box tabular">
    <div id="all_attributes">
      <%= render partial: 'form', locals: { f: f } %>
    </div>
  </div>

  <%= submit_tag l(:button_create) %>
<% end %>
