<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'bootstrap.min', 'mykpi', 'all', 'semantic', 'bootstrap-table.min', 'bootstrap-editable', plugin: 'kpi_report' %>
  <%= javascript_include_tag 'popper.min', 'jquery-2.0.3.min', 'bootstrap.min.js', 'bootstrap-editable.min',
                             'semantic.min.js', 'jquery.validate.min.js', 'semantic.js', 'moment.js', plugin: 'kpi_report' %>
<% end %>
<script>
    $('#header').css("display", "none");
    $('#top-menu').css("height", "50px")
    $('#top-menu').css("z-index", "10")
    $('#top-menu').css("z-index", "10")
    $('#top-menu').css("position", "relative")
</script>
<style>
  .checkbox {
    padding-left: 10px;
    padding-top: 10px;
    outline: 1px solid #1e5180;
  }

  .checkbox input[type="checkbox"] {
    display: none;
  }

  .checkbox label {
    padding-left: 0;
  }

  .checkbox label:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    font-family: "Font Awesome 5 Solid";

  }

  .checkbox input[type="checkbox"]:checked + label::before {
    font-family: "Font Awesome 5 Solid";
    content: "\f00c";
    outline: 1px solid #1e5180;
  }

  table {
    table-layout: fixed;
  }

  td {
    word-wrap: break-word
  }
</style>
<div style="margin-bottom: 10px">
  <button onclick="location.href='/my_kpi/';" type="button" class="btn btn-info">KPI của tôi
  </button>
</div>
<div style="margin-bottom: 10px">
  Chuyển KPI của
  <%= select_tag "user", options_for_select(@option, User.current.id), :onchange => 'onchageKidanhgia()', :style => 'font-weight: bold;border: 1px #2980b9 solid' %>
  <%= select_tag "kidanhgia_from", options_for_select(@kidanhgia, $kidanhgia), :onchange => 'onchageKidanhgia()', :style => 'font-weight: bold;border: 1px #2980b9 solid' %>
  sang KPI kì
  <%= select_tag "kidanhgia_to", options_for_select(@kidanhgia, $kidanhgia), :style => 'font-weight: bold;border: 1px #2980b9 solid' %>
</div>
<div style="width: 100%">
  <table id="kpi-table" class="ui compact celled definition table">
    <thead class="full-width">
    <tr>
      <th style="width: 3%"></th>
      <th style="width: 5%">ID</th>
      <th>Mục tiêu/KQ mong đợi</th>
      <th>Subject</th>
      <th style="width: 5%">Tỉ trọng</th>
      <th style="width: 10%">T</th>
      <th style="width: 10%">B</th>
      <th style="width: 10%">S</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="7">
        <div onclick="chuyenKPI()" class="ui right floated small primary labeled icon button">
          <i class="recycle icon"></i> Chuyển KPI
        </div>

      </th>
    </tr>
    </tfoot>
  </table>
</div>
<script>
    $(window).load(function () {
        onchageKidanhgia()
    });

    function onchageKidanhgia() {
        let user = $('#user').find(":selected").val();
        let kidanhgia_from = $('#kidanhgia_from').find(":selected").val();
        let kidanhgia_to = $('#kidanhgia_to').find(":selected").val();
        let url = 'http://' + $(location).attr('host') + '/issues.json?key=25304089a591cf457f3a6d1073e405d980133d94'
            + '&project_id=1072' + '&assigned_to_id=' + user + '&fixed_version_id=' + kidanhgia_from+'&status_id=*';
        $.ajax({
            type: 'GET',
            url: url,
            contentType: 'application/json',
        }).done(function (response) {
            console.log(response)
            buidldTable(response.issues)
        }).fail(function (msg) {
        }).always(function (msg) {
            console.log('ALWAYS');
        });
    }

    function buidldTable(issues) {
        $("#kpi-table > tbody").html("");
        issues.forEach(function (item) {
            let s, b, t
            let donvido = ""
            switch (item.tracker.id) {
                case 39:
                    t = 142
                    b = 143
                    s = 144
                    let id_donvido = item.custom_fields.find(e => e.id == 138).value
                    console.log(id_donvido)
                    break;
                case 40:
                    t = 146
                    b = 147
                    s = 148
                    break;
                case 41:
                    t = 158
                    b = 159
                    s = 160
                    break;
            }
            let $tr = $('<tr>').append(
                $('<td>').html("<input id=" + item.id + " type=\"checkbox\">"),
                $('<td>').text(item.id),
                $('<td>').text(item.custom_fields.find(e => e.id == 1).value),
                $('<td>').text(item.subject),
                $('<td>').text(item.custom_fields.find(e => e.id == 139).value),
                $('<td>').text(item.custom_fields.find(e => e.id == t).value),
                $('<td>').text(item.custom_fields.find(e => e.id == b).value),
                $('<td>').text(item.custom_fields.find(e => e.id == s).value),
            ).appendTo('#kpi-table > tbody')

        })
    }

    function chuyenKPI() {
        let list_kpi = []
        $('#kpi-table tbody tr').filter(':has(:checkbox:checked)').find('input').each(function () {
            list_kpi.push($(this).attr("id"))
        });
        if (list_kpi.length == 0) {
            alert('Bạn chưa chọn KPI');
            return;
        }
        let url = 'http://' + $(location).attr('host') + '/my_kpi/convert.json';
        let data = {
            "issue": list_kpi,
            'fixed_version_id': $('#kidanhgia_to').find(":selected").val()
        }
        if ($('#user :selected').text().includes('Quản lí')) {
            data['author'] = $('#user').val();
            data['assignee'] =
            <%=User.current.id %>
        }
        console.log(data)
        $.ajax({
            type: 'POST',
            url: url,
            contentType: 'application/json',
            data: JSON.stringify(data),
        }).done(function (data) {
            alert('Thành công')
            console.log(data)
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert('Lỗi')
            console.log(errorThrown);
        });
    }
</script>