<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'bootstrap.min', 'mykpi', 'all', 'semantic', 'bootstrap-table.min', 'bootstrap-editable', plugin: 'kpi_report' %>
  <%= javascript_include_tag 'popper.min', 'jquery-2.0.3.min', 'bootstrap.min.js', 'bootstrap-editable.min',
                             'bootstrap-table.min.js', 'bootstrap-table-editable.min', 'semantic.min.js', 'jquery.validate.min.js', 'bootstrap-table-filter-control.min.js', 'semantic.js', 'jquery.tablesorter.js', 'jquery.tablesorter.widgets.js', plugin: 'kpi_report' %>
<% end %>
<script>
    $('#header').css("display", "none");
    $('#top-menu').css("height", "50px")
    $('#top-menu').css("z-index", "10")
    $('#top-menu').css("z-index", "10")
    $('.checkbox').css("display", "none");
    $('#top-menu').css("position", "relative")
</script>
<style>
  a {
    color: inherit !important;
  }

  #content {
    z-index: unset;
  }

  #kpi_table td {
    overflow: hidden;
    text-overflow: ellipsis;
    /*//white-space: nowrap;*/
    font-size: 12px;
  }

  #kpi_table th {
    font-size: 12px;
  }

  .select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 20%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;

  linear-gradient(to bottom, #ffffff 0 %, #e5e5e5 100 %);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }

  /* Hide arrow icon in IE browsers */
  .select-css::-ms-expand {
    display: none;
  }

  /* Hover style */
  .select-css:hover {
    border-color: #888;
  }

  /* Focus style */
  .select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }

  /* Set options to normal weight */
  .select-css option {
    font-weight: normal;
  }

  /* Support for rtl text, explicit support for Arabic and Hebrew */
  *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
  }

  /* Disabled styles */
  .select-css:disabled, .select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  }

  .select-css:disabled:hover, .select-css[aria-disabled=true] {
    border-color: #aaa;
  }

  .checkbox {
    padding-left: 10px;
    padding-top: 10px;
    outline: 1px solid #1e5180;
  }

  .checkbox input[type="checkbox"] {
    display: none;
  }

  .checkbox label {
    padding-left: 0;
  }

  .checkbox label:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    font-family: "Font Awesome 5 Solid";

  }

  .checkbox input[type="checkbox"]:checked + label::before {
    font-family: "Font Awesome 5 Solid";
    content: "\f00c";
    outline: 1px solid #1e5180;
  }

  .test {
    padding-left: 10px;
    padding-top: 10px;
  }

  .test .pseudo-element:before {
    display: none;
    font-family: "Font Awesome 5 Solid";
    content: "\f00c";
  }

  #table_sumnary1 td {
    white-space: nowrap;
  }

  #table_sumnary2 td {
    white-space: nowrap;
  }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <div>
    <%= form_tag({:controller => 'cnbv_kpi', :action => 'index'}, :method => :get, :id => "query_form", style: "display:flex;padding:10px") do %>
      <table style="margin: 0 auto;">
        <tr>
          <td>
            <h4 style="margin: 0">Phụ lục 04A: Tổng hợp kết quả đánh giá mức độ hoàn thành nhiệm vụ/công việc của CBNV
              tại Cơ quan/ Đơn vị </h4>
          </td>
          <td><%= select_tag "kidanhgia", options_for_select(Project.find(1072).versions.map { |obj| [obj.name, obj.id] }, $kidanhgia), :onchange => 'this.form.submit()', :style => 'font-weight: bold;border: 1px #2980b9 solid' %></td>
        </tr>
      </table>
    <% end %>
  </div>
  <div>
    <div style="display: table;margin: 0 auto;">(Kèm theo Quyết định số: 2345/QĐ-CNVTQĐ-TCNL ngày 10 tháng 07 năm 2020
      của Tổng Giám đốc Tập đoàn)
    </div>
  </div>
  <br>
  <input type="hidden" id="version_id1" value="<%= $kidanhgia %>">
  <input type="hidden" id="totalemployee" value="<%= @kpi_raking.size %>">
  <div style="margin-bottom: 20px">
    <div style="font-weight: bold;margin-bottom: 10px">I. Tổng hợp kết quả đánh giá, xếp loại</div>
    <div class="row">
      <div class="col col-md-6">
        <label>Nhóm CBNV không đánh giá theo tiêu chuẩn</label>
        <table style="width: 80%;" id="table_sumnary2" class="table table-bordered striped table-responsive">
          <thead style="background-color:#eee;">
          <tr>
            <th>Xếp loại Ki</th>
            <th>Tỷ lệ xếp loại Ki</th>
            <th>Số người</th>
            <th>Tỷ lệ đề xuất theo quy định</th>
            <th>Số người theo tỷ lệ đề xuất</th>
            <th>Ghi chú</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>A+</td>
            <td name="validateCapa" id="otRealAPlusCapa"></td>
            <td id="otNumAPlus"></td>
            <td>10%</td>
            <td id="otNumAPlusByCapa"></td>
            <td>Tỷ lệ Ki A+ ≤ 10%</td>
          </tr>
          <tr>
            <td>A</td>
            <td name="validateCapa" id="otRealACapa"></td>
            <td id="otNumA"></td>
            <td>15%</td>
            <td id="otNumAByCapa"></td>
            <td>Luỹ kế Ki A+ và A ≤ 25%</td>
          </tr>
          <tr>
            <td>B</td>
            <td name="validateCapa" id="otRealBCapa"></td>
            <td id="otNumB"></td>
            <td>60%</td>
            <td id="otNumBByCapa"></td>
            <td></td>
          </tr>
          <tr>
            <td>C</td>
            <td name="validateCapa" id="otRealCCapa"></td>
            <td id="otNumC"></td>
            <td>12%</td>
            <td id="otNumCByCapa"></td>
            <td>Luỹ kế Ki C và D ≥ 15%</td>
          </tr>
          <tr>
            <td>D</td>
            <td name="validateCapa" id="otRealDCapa"></td>
            <td id="otNumD"></td>
            <td>3%</td>
            <td id="otNumDByCapa"></td>
            <td>Tỷ lệ Ki D ≥ 3%</td>
          </tr>
          <tr>
            <td>K</td>
            <td>N/A</td>
            <td id="otNumK"></td>
            <td>N/A</td>
            <td>N/A</td>
            <td></td>
          </tr>
          <tr style="background-color: #E4FEFF">
            <td>Tổng:</td>
            <td>100%</td>
            <td id="totalother"><%= @kpi_raking.size %></td>
            <td>100%</td>
            <td id="totalOtherCapa"></td>
            <td></td>
          </tr>
          </tbody>
          <tfoot>

          </tfoot>
        </table>
      </div>
      <div class="col col-md-6">
        <label>Nhóm CBNV đánh giá theo tiêu chuẩn</label>
        <table style="width: 80%;" id="table_sumnary1" class="table table-bordered striped table-responsive">
          <thead style="background-color:#eee;">
          <tr>
            <th>Xếp loại Ki</th>
            <th>Tỷ lệ xếp loại Ki</th>
            <th>Số người</th>
            <th>Tỷ lệ đề xuất theo quy định</th>
            <th>Số người theo tỷ lệ đề xuất</th>
            <th>Ghi chú</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>A+</td>
            <td name="validateCapa" id="realAPlusCapa"></td>
            <td id="numAPlus"></td>
            <td>Không yêu cầu</td>
            <td id="numAPlusByCapa"></td>
            <td></td>
          </tr>
          <tr>
            <td>A</td>
            <td name="validateCapa" id="realACapa"></td>
            <td id="numA"></td>
            <td>15%</td>
            <td id="numAByCapa"></td>
            <td>Luỹ kế Ki A và B ≤ 85%</td>
          </tr>
          <tr>
            <td>B</td>
            <td name="validateCapa" id="realBCapa"></td>
            <td id="numB"></td>
            <td>70%</td>
            <td id="numBByCapa"></td>
            <td></td>
          </tr>
          <tr>
            <td>C</td>
            <td name="validateCapa" id="realCCapa"></td>
            <td id="numC"></td>
            <td rowspan="2">15%</td>
            <td id="numCByCapa"></td>
            <td>Luỹ kế Ki C và D ≥ 15%</td>
          </tr>
          <tr>
            <td>D</td>
            <td name="validateCapa" id="realDCapa"></td>
            <td id="numD"></td>
            <td id="numDByCapa"></td>
            <td></td>
          </tr>
          <tr>
            <td>K</td>
            <td>N/A</td>
            <td id="numK"></td>
            <td>N/A</td>
            <td>N/A</td>
            <td></td>
          </tr>
          <tr style="background-color: #E4FEFF">
            <td>Tổng:</td>
            <td>100%</td>
            <td id="totalprimary">0</td>
            <td>100%</td>
            <td id="totalPrimaryCapa"></td>
            <td></td>
          <tr>
          </tbody>
          </tbody>
          <tfoot>

          </tfoot>
        </table>
      </div>
    </div>

    <br>
    <% status = check_ki_lock_status(User.current.id,$kidanhgia) %>
    <div class="row">
      <div class="col col-md-6">
        II. Danh sách chi tiết
      </div>
      <% if status == 0 %>
        <div class="col col-md-3">
          Trang thái: <span style="background-color:blue; color: white">Đang đánh giá KI</span>
        </div>
      <% elsif status == 1 %>
        <div class="col col-md-3">
          Trang thái: <span style="background-color:orange; color: white">Chờ xác nhận</span>
        </div>
      <% elsif status == 2 %>
        <div class="col col-md-3">
          Trang thái: <span style="background-color:red; color: white">Chỉ huy đang đánh giá lại KI</span>
        </div>
      <% elsif status == 3 %>
        <div class="col col-md-3">
          Trang thái: <span style="background-color:green; color: white">KI đã được ghi nhận</span>
        </div>
      <% end %>
    </div>
    <% if status == 0 %>
      <table id="kpi_table" class="table table-bordered striped table-responsive tablesorter" style="width: 100%">
        <thead style="background-color:#eee;">
        <tr>
          <th rowspan="4">TT</th>
          <th rowspan="4">Mã nhân viên</th>
          <th rowspan="4">Họ và tên</th>
          <th rowspan="4">Điểm đánh giá</th>
          <th rowspan="4">Xếp loại kết quả thực hiện mục tiêu nhiệm vụ/công việc</th>
          <th rowspan="4">Tuân thủ địa điểm làm việc</th>
          <th rowspan="4">Tuân thủ Nội quy lao động</th>
          <th rowspan="4" data-sorter="false">CBNV đánh giá theo tiêu
            chuẩn<input type="checkbox" name="chk_all_goods" class="chk_all_goods" onClick="checkAll()"></th>
          <th rowspan="4">Xếp loại Ki</th>
          <th rowspan="4">Xếp loại mức độ hoàn thành nhiệm vụ/công việc</th>
          <th rowspan="4">Ghi chú, đề xuất của người QLTT với CBNV</th>
          <th rowspan="4" style="width: 200px">Ghi chú, đề xuất của người Chỉ huy với CBNV</th>
          <th rowspan="4" style="width: 200px">Chú ý</th>
          <th rowspan="4">Hành động</th>
        </tr>


        </thead>
        <tbody>
        <% $num = 0 %>
        <% (1..@kpi_raking.size).each do |i| %>
          <tr ki_id="<%= @ki_raking[$num][20] %>">
            <td><%= $num + 1 %></td>
            <td><%= @kpi_raking[$num].employee_id %></td>
            <td><%= CustomValue.where(customized_id: @kpi_raking[$num].user_id, custom_field_id: 56).select(:value).take(1).nil? ? "N/A" : CustomValue.where(customized_id: @kpi_raking[$num].user_id, custom_field_id: 56).select(:value).take(1).first.value %></td>
            <td>
              <% if Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).where(:status_id => 34).size == 0 %>
                <a title="không có KPI nào hoặc CBNV chưa được chấm KPI" onclick="detailKPI(<%=@kpi_raking[$num].user_id %>,<%=$kidanhgia %>)">
                  <% if @ki_raking[$num][23] == nil %>
                    0.0
                  <% else %>
                    <%= @ki_raking[$num][23] %>
                  <% end %>
                </a>
              <% elsif Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).where(:status_id => 34).size != 0 && Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).where(:status_id => 34).size != Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).size %>
                <a title="KPI chưa chấm hết" onclick="detailKPI(<%=@kpi_raking[$num].user_id %>,<%=$kidanhgia %>)"><%= @ki_raking[$num][23] %></a>
              <% else %>
                <a title="KPI đã chấm hết" onclick="detailKPI(<%=@kpi_raking[$num].user_id %>,<%=$kidanhgia %>)"><%= @ki_raking[$num][23] %></a>
              <% end %>
            </td>
            <td>
              <% if @ki_raking[$num][23].nil? %>
                Không đánh giá
              <% elsif @ki_raking[$num][23] < 2 %>
                Không đạt yêu cầu
              <% elsif 2 <= @ki_raking[$num][23] and @ki_raking[$num][23] < 2.5 %>
                Gần đạt yêu cầu
              <% elsif 2.5 <= @ki_raking[$num][23] and @ki_raking[$num][23] < 3.5 %>
                Đạt yêu cầu
              <% elsif 3.5 <= @ki_raking[$num][23] and @ki_raking[$num][23] < 4.5 %>
                Vượt yêu cầu
              <% elsif 4.5 <= @ki_raking[$num][23] and @ki_raking[$num][23] <= 5 %>
                Vượt xa yêu cầu
              <% end %>
            </td>
            <td>
              <select onchange="selectRightLocation(<%= $num %>)">
                <% if @ki_raking[$num][25] == 1 || @ki_raking[$num][25].nil? %>
                  <option value="1" selected="selected">Tuân thủ</option>
                  <option value="2">Không tuân thủ</option>
                <% elsif @ki_raking[$num][25] == 2 %>
                  <option value="1">Tuân thủ</option>
                  <option value="2" selected="selected">Không tuân thủ</option>
                <% end %>
              </select>
            </td>
            <td>
              <select onchange="selectRightLaw(<%= $num %>)">
                <% if @ki_raking[$num][26].nil? || @ki_raking[$num][26] == 1 %>
                  <option value="1" selected="selected">Tuân thủ</option>
                  <option value="2">Vi phạm nhưng chưa đến mức bị xử lý kỷ luật</option>
                  <option value="3">Bị xử lý kỷ luật lao động</option>
                <% elsif @ki_raking[$num][26] == 2 %>
                  <option value="1">Tuân thủ</option>
                  <option value="2" selected="selected">Vi phạm nhưng chưa đến mức bị xử lý kỷ luật</option>
                  <option value="3">Bị xử lý kỷ luật lao động</option>
                <% elsif @ki_raking[$num][26] == 3 %>
                  <option value="1">Tuân thủ</option>
                  <option value="2">Vi phạm nhưng chưa đến mức bị xử lý kỷ luật</option>
                  <option value="3" selected="selected">Bị xử lý kỷ luật lao động</option>
                <% end %>
              </select>
            </td>
            <td>
              <% if @ki_raking[$num][24].nil? or @ki_raking[$num][24] == 1 %>
                <input type="checkbox" name="chk_goods" class="chk_goods" onclick="CheckOne(<%= $num %>)"></td>
              <% elsif @ki_raking[$num][24] == 2 %>
                <input type="checkbox" name="chk_goods" class="chk_goods" onclick="CheckOne(<%= $num %>)" checked></td>
              <% end %>
              <td>
                <select id="<%= "select_ki" + $num.to_s %>" onchange="mySelectKI(<%= $num %>)">
                  <% if @ki_raking[$num][27].nil? or @ki_raking[$num][27] == "" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" name="optionchange">A+</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="K">K</option>
                  <% elsif @ki_raking[$num][27] == "A+" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" selected="selected" name="optionchange">A+</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="K">K</option>
                  <% elsif @ki_raking[$num][27] == "A" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" name="optionchange">A+</option>
                    <option value="A" selected="selected">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="K">K</option>
                  <% elsif @ki_raking[$num][27] == "B" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" name="optionchange">A+</option>
                    <option value="A">A</option>
                    <option value="B" selected="selected">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="K">K</option>
                  <% elsif @ki_raking[$num][27] == "C" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" name="optionchange">A+</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C" selected="selected">C</option>
                    <option value="D">D</option>
                    <option value="K">K</option>
                  <% elsif @ki_raking[$num][27] == "D" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" name="optionchange">A+</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D" selected="selected">D</option>
                    <option value="K">K</option>
                  <% elsif @ki_raking[$num][27] == "K" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" name="optionchange">A+</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="K" selected="selected">K</option>
                  <% end %>
                </select>
              </td>
              <td id="<%= "text_ki" + $num.to_s %>">
                <% if @ki_raking[$num][27].nil? or @ki_raking[$num][27] == "" %>
                  Không đánh giá
                <% elsif @ki_raking[$num][27] == "A+" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "A" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "B" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "C" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "D" %>
                  Không hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "K" %>
                  Không đánh giá
                <% end %>
              </td>
              <td>
                <% @comment = PeopleKiNote.where(user_id: @ki_raking[$num][0], version_id: $kidanhgia) %>
                <% $com = "" %>
                <% @comment.each do |cmt| %>
                  <% $lead_name = User.find(cmt.lead_id).login %>
                  <% $com << $lead_name %>
                  <% $com << ":" %>
                  <% $com << cmt.comment %>
                  <% $com << "\n" %>
                <% end %>
                <%= $com %>
              </td>
              <td><textarea id="<%= "m_note" + $num.to_s %>" style="width:100%;" onchange="changeMNote(<%= $num %>)"><%= @ki_raking[$num][30] %></textarea>
              </td>
              <td><textarea id="<%= "note" + $num.to_s %>" style="width:100%;" onchange="changeNote(<%= $num %>)"><%= @ki_raking[$num][31] %></textarea></td>
              <td>
                <button id="<%= "button" + $num.to_s %>" title="Lưu" data-toggle="modal" onclick="saveChangeKI(this,<%=$num.to_s%>)" class="btn btn-primary" style="padding:7px 10px!important; font-weight:bold;" disabled>
                  <i class="fa fa-check"></i>
                </button>
              </td>
              </tr>
          <% $num += 1 %>
        <% end %>
        </tbody>
        <tfoot>

        </tfoot>
      </table>
    <% elsif status == 1 %>
      <table id="kpi_table" class="table table-bordered striped table-responsive tablesorter" style="width: 100%">
        <thead style="background-color:#eee;">
        <tr>
          <th rowspan="4">TT</th>
          <th rowspan="4">Mã nhân viên</th>
          <th rowspan="4">Họ và tên</th>
          <th rowspan="4">Điểm đánh giá</th>
          <th rowspan="4">Xếp loại kết quả thực hiện mục tiêu nhiệm vụ/công việc</th>
          <th rowspan="4">Tuân thủ địa điểm làm việc</th>
          <th rowspan="4">Tuân thủ Nội quy lao động</th>
          <th rowspan="4" data-sorter="false">CBNV đánh giá theo tiêu
            chuẩn
          </th>
          <th rowspan="4">Xếp loại Ki</th>
          <th rowspan="4">Xếp loại mức độ hoàn thành nhiệm vụ/công việc</th>
          <th rowspan="4">Ghi chú, đề xuất của người QLTT với CBNV</th>
          <th rowspan="4" style="width: 200px">Ghi chú, đề xuất của người Chỉ huy với CBNV</th>
          <th rowspan="4" style="width: 200px">Chú ý</th>
        </tr>


        </thead>
        <tbody>
        <% $num = 0 %>
        <% (1..@kpi_raking.size).each do |i| %>
          <tr ki_id="<%= @ki_raking[$num][20] %>">
            <td><%= $num + 1 %></td>
            <td><%= @kpi_raking[$num].employee_id %></td>
            <td><%= CustomValue.where(customized_id: @kpi_raking[$num].user_id, custom_field_id: 56).select(:value).take(1).nil? ? "N/A" : CustomValue.where(customized_id: @kpi_raking[$num].user_id, custom_field_id: 56).select(:value).take(1).first.value %></td>
            <td>
              <% if Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).where(:status_id => 34).size == 0 %>
                <a title="không có KPI nào hoặc CBNV chưa được chấm KPI" onclick="detailKPI(<%=@kpi_raking[$num].user_id %>,<%=$kidanhgia %>)">
                  <% if @ki_raking[$num][23] == nil %>
                    0.0
                  <% else %>
                    <%= @ki_raking[$num][23] %>
                  <% end %>
                </a>
              <% elsif Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).where(:status_id => 34).size != 0 && Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).where(:status_id => 34).size != Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).size %>
                <a title="KPI chưa chấm hết" onclick="detailKPI(<%=@kpi_raking[$num].user_id %>,<%=$kidanhgia %>)"><%= @ki_raking[$num][23] %></a>
              <% else %>
                <a title="KPI đã chấm hết" onclick="detailKPI(<%=@kpi_raking[$num].user_id %>,<%=$kidanhgia %>)"><%= @ki_raking[$num][23] %></a>
              <% end %>
            </td>
            <td>
              <% if @ki_raking[$num][23].nil? %>
                Không đánh giá
              <% elsif @ki_raking[$num][23] < 2 %>
                Không đạt yêu cầu
              <% elsif 2 <= @ki_raking[$num][23] and @ki_raking[$num][23] < 2.5 %>
                Gần đạt yêu cầu
              <% elsif 2.5 <= @ki_raking[$num][23] and @ki_raking[$num][23] < 3.5 %>
                Đạt yêu cầu
              <% elsif 3.5 <= @ki_raking[$num][23] and @ki_raking[$num][23] < 4.5 %>
                Vượt yêu cầu
              <% elsif 4.5 <= @ki_raking[$num][23] and @ki_raking[$num][23] <= 5 %>
                Vượt xa yêu cầu
              <% end %>
            </td>
            <td>
              <% if @ki_raking[$num][25] == 1 || @ki_raking[$num][25].nil? %>
                Tuân thủ
              <% elsif @ki_raking[$num][25] == 2 %>
                Không tuân thủ
              <% end %>
            </td>
            <td>
              <% if @ki_raking[$num][26].nil? || @ki_raking[$num][26] == 1 %>
                Tuân thủ
              <% elsif @ki_raking[$num][26] == 2 %>
                Vi phạm nhưng chưa đến mức bị xử lý kỷ luật
              <% elsif @ki_raking[$num][26] == 3 %>
                Bị xử lý kỷ luật lao động
              <% end %>
            </td>
            <td>
              <% if @ki_raking[$num][24].nil? or @ki_raking[$num][24] == 1 %>
                <input type="checkbox" name="chk_goods" class="chk_goods" disabled></td>
              <% elsif @ki_raking[$num][24] == 2 %>
                <input type="checkbox" name="chk_goods" class="chk_goods" checked disabled></td>
              <% end %>
              <td>
                <% if @ki_raking[$num][27].nil? or @ki_raking[$num][27] == "" %>
                <% elsif @ki_raking[$num][27] == "A+" %>
                  A+
                <% elsif @ki_raking[$num][27] == "A" %>
                  A
                <% elsif @ki_raking[$num][27] == "B" %>
                  B
                <% elsif @ki_raking[$num][27] == "C" %>
                  C
                <% elsif @ki_raking[$num][27] == "D" %>
                  D
                <% elsif @ki_raking[$num][27] == "K" %>
                  K
                <% end %>
              </td>
              <td id="<%= "text_ki" + $num.to_s %>">
                <% if @ki_raking[$num][27].nil? or @ki_raking[$num][27] == "" %>
                  Không đánh giá
                <% elsif @ki_raking[$num][27] == "A+" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "A" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "B" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "C" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "D" %>
                  Không hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "K" %>
                  Không đánh giá
                <% end %>
              </td>
              <td>
                <% @comment = PeopleKiNote.where(user_id: @ki_raking[$num][0], version_id: $kidanhgia) %>
                <% $com = "" %>
                <% @comment.each do |cmt| %>
                  <% $lead_name = User.find(cmt.lead_id).login %>
                  <% $com << $lead_name %>
                  <% $com << ":" %>
                  <% $com << cmt.comment %>
                  <% $com << "\n" %>
                <% end %>
                <%= $com %>
              </td>
              <td><%= @ki_raking[$num][30] %>
              </td>
              <td><%= @ki_raking[$num][31] %></td>
              </tr>
          <% $num += 1 %>
        <% end %>
        </tbody>
        <tfoot>

        </tfoot>
      </table>
    <% elsif status == 2 %>
      <table id="kpi_table" class="table table-bordered striped table-responsive tablesorter" style="width: 100%">
        <thead style="background-color:#eee;">
        <tr>
          <th rowspan="4">TT</th>
          <th rowspan="4">Mã nhân viên</th>
          <th rowspan="4">Họ và tên</th>
          <th rowspan="4">Điểm đánh giá</th>
          <th rowspan="4">Xếp loại kết quả thực hiện mục tiêu nhiệm vụ/công việc</th>
          <th rowspan="4">Tuân thủ địa điểm làm việc</th>
          <th rowspan="4">Tuân thủ Nội quy lao động</th>
          <th rowspan="4" data-sorter="false">CBNV đánh giá theo tiêu
            chuẩn<input type="checkbox" name="chk_all_goods" class="chk_all_goods" onClick="checkAll()"></th>
          <th rowspan="4">Xếp loại Ki</th>
          <th rowspan="4">Xếp loại mức độ hoàn thành nhiệm vụ/công việc</th>
          <th rowspan="4">Ghi chú, đề xuất của người QLTT với CBNV</th>
          <th rowspan="4" style="width: 200px">Ghi chú, đề xuất của người Chỉ huy với CBNV</th>
          <th rowspan="4" style="width: 200px">Chú ý</th>
          <th rowspan="4">Hành động</th>
        </tr>


        </thead>
        <tbody>
        <% $num = 0 %>
        <% (1..@kpi_raking.size).each do |i| %>
          <tr ki_id="<%= @ki_raking[$num][20] %>">
            <td><%= $num + 1 %></td>
            <td><%= @kpi_raking[$num].employee_id %></td>
            <td><%= CustomValue.where(customized_id: @kpi_raking[$num].user_id, custom_field_id: 56).select(:value).take(1).nil? ? "N/A" : CustomValue.where(customized_id: @kpi_raking[$num].user_id, custom_field_id: 56).select(:value).take(1).first.value %></td>
            <td>
              <% if Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).where(:status_id => 34).size == 0 %>
                <a title="không có KPI nào hoặc CBNV chưa được chấm KPI" onclick="detailKPI(<%=@kpi_raking[$num].user_id %>,<%=$kidanhgia %>)">
                  <% if @ki_raking[$num][23] == nil %>
                    0.0
                  <% else %>
                    <%= @ki_raking[$num][23] %>
                  <% end %>
                </a>
              <% elsif Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).where(:status_id => 34).size != 0 && Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).where(:status_id => 34).size != Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).size %>
                <a title="KPI chưa chấm hết" onclick="detailKPI(<%=@kpi_raking[$num].user_id %>,<%=$kidanhgia %>)">
                  <% if @ki_raking[$num][23] == nil %>
                    0.0
                  <% else %>
                    <%= @ki_raking[$num][23] %>
                  <% end %>
                </a>
              <% else %>
                <a title="KPI đã chấm hết" onclick="detailKPI(<%=@kpi_raking[$num].user_id %>,<%=$kidanhgia %>)">
                  <% if @ki_raking[$num][23] == nil %>
                    0.0
                  <% else %>
                    <%= @ki_raking[$num][23] %>
                  <% end %>
                </a>
              <% end %>
            </td>
            <td>
              <% if @ki_raking[$num][23].nil? %>
                Không đánh giá
              <% elsif @ki_raking[$num][23] < 2 %>
                Không đạt yêu cầu
              <% elsif 2 <= @ki_raking[$num][23] and @ki_raking[$num][23] < 2.5 %>
                Gần đạt yêu cầu
              <% elsif 2.5 <= @ki_raking[$num][23] and @ki_raking[$num][23] < 3.5 %>
                Đạt yêu cầu
              <% elsif 3.5 <= @ki_raking[$num][23] and @ki_raking[$num][23] < 4.5 %>
                Vượt yêu cầu
              <% elsif 4.5 <= @ki_raking[$num][23] and @ki_raking[$num][23] <= 5 %>
                Vượt xa yêu cầu
              <% end %>
            </td>
            <td>
              <select onchange="selectRightLocation(<%= $num %>)">
                <% if @ki_raking[$num][25] == 1 || @ki_raking[$num][25].nil? %>
                  <option value="1" selected="selected">Tuân thủ</option>
                  <option value="2">Không tuân thủ</option>
                <% elsif @ki_raking[$num][25] == 2 %>
                  <option value="1">Tuân thủ</option>
                  <option value="2" selected="selected">Không tuân thủ</option>
                <% end %>
              </select>
            </td>
            <td>
              <select onchange="selectRightLaw(<%= $num %>)">
                <% if @ki_raking[$num][26].nil? || @ki_raking[$num][26] == 1 %>
                  <option value="1" selected="selected">Tuân thủ</option>
                  <option value="2">Vi phạm nhưng chưa đến mức bị xử lý kỷ luật</option>
                  <option value="3">Bị xử lý kỷ luật lao động</option>
                <% elsif @ki_raking[$num][26] == 2 %>
                  <option value="1">Tuân thủ</option>
                  <option value="2" selected="selected">Vi phạm nhưng chưa đến mức bị xử lý kỷ luật</option>
                  <option value="3">Bị xử lý kỷ luật lao động</option>
                <% elsif @ki_raking[$num][26] == 3 %>
                  <option value="1">Tuân thủ</option>
                  <option value="2">Vi phạm nhưng chưa đến mức bị xử lý kỷ luật</option>
                  <option value="3" selected="selected">Bị xử lý kỷ luật lao động</option>
                <% end %>
              </select>
            </td>
            <td>
              <% if @ki_raking[$num][24].nil? or @ki_raking[$num][24] == 1 %>
                <input type="checkbox" name="chk_goods" class="chk_goods" onclick="CheckOne(<%= $num %>)"></td>
              <% elsif @ki_raking[$num][24] == 2 %>
                <input type="checkbox" name="chk_goods" class="chk_goods" onclick="CheckOne(<%= $num %>)" checked></td>
              <% end %>
              <td>
                <select id="<%= "select_ki" + $num.to_s %>" onchange="mySelectKI(<%= $num %>)">
                  <% if @ki_raking[$num][27].nil? or @ki_raking[$num][27] == "" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" name="optionchange">A+</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="K">K</option>
                  <% elsif @ki_raking[$num][27] == "A+" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" selected="selected" name="optionchange">A+</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="K">K</option>
                  <% elsif @ki_raking[$num][27] == "A" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" name="optionchange">A+</option>
                    <option value="A" selected="selected">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="K">K</option>
                  <% elsif @ki_raking[$num][27] == "B" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" name="optionchange">A+</option>
                    <option value="A">A</option>
                    <option value="B" selected="selected">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="K">K</option>
                  <% elsif @ki_raking[$num][27] == "C" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" name="optionchange">A+</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C" selected="selected">C</option>
                    <option value="D">D</option>
                    <option value="K">K</option>
                  <% elsif @ki_raking[$num][27] == "D" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" name="optionchange">A+</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D" selected="selected">D</option>
                    <option value="K">K</option>
                  <% elsif @ki_raking[$num][27] == "K" %>
                    <option value="" selected="selected"></option>
                    <option value="A+" name="optionchange">A+</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="K" selected="selected">K</option>
                  <% end %>
                </select>
              </td>
              <td id="<%= "text_ki" + $num.to_s %>">
                <% if @ki_raking[$num][27].nil? or @ki_raking[$num][27] == "" %>
                  Không đánh giá
                <% elsif @ki_raking[$num][27] == "A+" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "A" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "B" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "C" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "D" %>
                  Không hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "K" %>
                  Không đánh giá
                <% end %>
              </td>
              <td>
                <% @comment = PeopleKiNote.where(user_id: @ki_raking[$num][0], version_id: $kidanhgia) %>
                <% $com = "" %>
                <% @comment.each do |cmt| %>
                  <% $lead_name = User.find(cmt.lead_id).login %>
                  <% $com << $lead_name %>
                  <% $com << ":" %>
                  <% $com << cmt.comment %>
                  <% $com << "\n" %>
                <% end %>
                <%= $com %>
              </td>
              <td><textarea id="<%= "m_note" + $num.to_s %>" style="width:100%;" onchange="changeMNote(<%= $num %>)"><%= @ki_raking[$num][30] %></textarea>
              </td>
              <td><textarea id="<%= "note" + $num.to_s %>" style="width:100%;" onchange="changeNote(<%= $num %>)"><%= @ki_raking[$num][31] %></textarea></td>
              <td>
                <button id="<%= "button" + $num.to_s %>" title="Lưu" data-toggle="modal" onclick="saveChangeKI(this,<%=$num.to_s%>)" class="btn btn-primary" style="padding:7px 10px!important; font-weight:bold;" disabled>
                  <i class="fa fa-check"></i>
                </button>
              </td>
              </tr>
          <% $num += 1 %>
        <% end %>
        </tbody>
        <tfoot>

        </tfoot>
      </table>
    <% elsif status == 3 %>
      <table id="kpi_table" class="table table-bordered striped table-responsive tablesorter" style="width: 100%">
        <thead style="background-color:#eee;">
        <tr>
          <th rowspan="4">TT</th>
          <th rowspan="4">Mã nhân viên</th>
          <th rowspan="4">Họ và tên</th>
          <th rowspan="4">Điểm đánh giá</th>
          <th rowspan="4">Xếp loại kết quả thực hiện mục tiêu nhiệm vụ/công việc</th>
          <th rowspan="4">Tuân thủ địa điểm làm việc</th>
          <th rowspan="4">Tuân thủ Nội quy lao động</th>
          <th rowspan="4" data-sorter="false">CBNV đánh giá theo tiêu
            chuẩn
          </th>
          <th rowspan="4">Xếp loại Ki</th>
          <th rowspan="4">Xếp loại mức độ hoàn thành nhiệm vụ/công việc</th>
          <th rowspan="4">Ghi chú, đề xuất của người QLTT với CBNV</th>
          <th rowspan="4" style="width: 200px">Ghi chú, đề xuất của người Chỉ huy với CBNV</th>
          <th rowspan="4" style="width: 200px">Chú ý</th>
        </tr>


        </thead>
        <tbody>
        <% $num = 0 %>
        <% (1..@kpi_raking.size).each do |i| %>
          <tr ki_id="<%= @ki_raking[$num][20] %>">
            <td><%= $num + 1 %></td>
            <td><%= @kpi_raking[$num].employee_id %></td>
            <td><%= CustomValue.where(customized_id: @kpi_raking[$num].user_id, custom_field_id: 56).select(:value).take(1).nil? ? "N/A" : CustomValue.where(customized_id: @kpi_raking[$num].user_id, custom_field_id: 56).select(:value).take(1).first.value %></td>
            <td>
              <% if Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).where(:status_id => 34).size == 0 %>
                <a title="không có KPI nào hoặc CBNV chưa được chấm KPI" onclick="detailKPI(<%=@kpi_raking[$num].user_id %>,<%=$kidanhgia %>)">
                  <% if @ki_raking[$num][23] == nil %>
                    0.0
                  <% else %>
                    <%= @ki_raking[$num][23] %>
                  <% end %>
                </a>
              <% elsif Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).where(:status_id => 34).size != 0 && Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).where(:status_id => 34).size != Project.find(1072).issues.where(:assigned_to_id => @kpi_raking[$num].user_id).where(:fixed_version_id => $kidanhgia).size %>
                <a title="KPI chưa chấm hết" onclick="detailKPI(<%=@kpi_raking[$num].user_id %>,<%=$kidanhgia %>)"><%= @ki_raking[$num][23] %></a>
              <% else %>
                <a title="KPI đã chấm hết" onclick="detailKPI(<%=@kpi_raking[$num].user_id %>,<%=$kidanhgia %>)"><%= @ki_raking[$num][23] %></a>
              <% end %>
            </td>
            <td>
              <% if @ki_raking[$num][23].nil? %>
                Không đánh giá
              <% elsif @ki_raking[$num][23] < 2 %>
                Không đạt yêu cầu
              <% elsif 2 <= @ki_raking[$num][23] and @ki_raking[$num][23] < 2.5 %>
                Gần đạt yêu cầu
              <% elsif 2.5 <= @ki_raking[$num][23] and @ki_raking[$num][23] < 3.5 %>
                Đạt yêu cầu
              <% elsif 3.5 <= @ki_raking[$num][23] and @ki_raking[$num][23] < 4.5 %>
                Vượt yêu cầu
              <% elsif 4.5 <= @ki_raking[$num][23] and @ki_raking[$num][23] <= 5 %>
                Vượt xa yêu cầu
              <% end %>
            </td>
            <td>
              <% if @ki_raking[$num][25] == 1 || @ki_raking[$num][25].nil? %>
                Tuân thủ
              <% elsif @ki_raking[$num][25] == 2 %>
                Không tuân thủ
              <% end %>
            </td>
            <td>
              <% if @ki_raking[$num][26].nil? || @ki_raking[$num][26] == 1 %>
                Tuân thủ
              <% elsif @ki_raking[$num][26] == 2 %>
                Vi phạm nhưng chưa đến mức bị xử lý kỷ luật
              <% elsif @ki_raking[$num][26] == 3 %>
                Bị xử lý kỷ luật lao động
              <% end %>
            </td>
            <td>
              <% if @ki_raking[$num][24].nil? or @ki_raking[$num][24] == 1 %>
                <input type="checkbox" name="chk_goods" class="chk_goods" disabled></td>
              <% elsif @ki_raking[$num][24] == 2 %>
                <input type="checkbox" name="chk_goods" class="chk_goods" checked disabled></td>
              <% end %>
              <td>
                <% if @ki_raking[$num][27].nil? or @ki_raking[$num][27] == "" %>
                <% elsif @ki_raking[$num][27] == "A+" %>
                  A+
                <% elsif @ki_raking[$num][27] == "A" %>
                  A
                <% elsif @ki_raking[$num][27] == "B" %>
                  B
                <% elsif @ki_raking[$num][27] == "C" %>
                  C
                <% elsif @ki_raking[$num][27] == "D" %>
                  D
                <% elsif @ki_raking[$num][27] == "K" %>
                  K
                <% end %>
              </td>
              <td id="<%= "text_ki" + $num.to_s %>">
                <% if @ki_raking[$num][27].nil? or @ki_raking[$num][27] == "" %>
                  Không đánh giá
                <% elsif @ki_raking[$num][27] == "A+" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "A" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "B" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "C" %>
                  Hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "D" %>
                  Không hoàn thành NV/CV
                <% elsif @ki_raking[$num][27] == "K" %>
                  Không đánh giá
                <% end %>
              </td>
              <td>
                <% @comment = PeopleKiNote.where(user_id: @ki_raking[$num][0], version_id: $kidanhgia) %>
                <% $com = "" %>
                <% @comment.each do |cmt| %>
                  <% $lead_name = User.find(cmt.lead_id).login %>
                  <% $com << $lead_name %>
                  <% $com << ":" %>
                  <% $com << cmt.comment %>
                  <% $com << "\n" %>
                <% end %>
                <%= $com %>
              </td>
              <td><%= @ki_raking[$num][30] %>
              </td>
              <td><%= @ki_raking[$num][31] %></td>
              </tr>
          <% $num += 1 %>
        <% end %>
        </tbody>
        <tfoot>

        </tfoot>
      </table>
    <% end %>


    <% if $num != 0 %>

      <!--  khởi tạo      a-->
      <% if status == 0 %>
        <div class="row" style="text-align: center">
          <button id="btndefault" data-toggle="modal" onclick="submitKI()" class="btn btn-primary" style="padding:7px 10px!important; font-weight:bold;">
            <i class="fa fa-check"></i>
            Chốt KI gửi phòng TCLĐ
          </button>
        </div>
        <!--  đợi duyệt      a-->
      <% elsif status == 1 %>
        <!--  từ chối      a-->
      <% elsif status == 2 %>
        <div class="row" style="text-align: center">
          <button id="btn2" data-toggle="modal" onclick="submitKI()" class="btn btn-primary" style="padding:7px 10px!important; font-weight:bold;">
            <i class="fa fa-check"></i>
            Phòng TCLD từ chối KI yêu cầu rà soát lại
          </button>
        </div>
      <% end %>

    <% end %>


  </div>
</div>
</body>
</html>

<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
        rentCapacity();
        $("#kpi_table").tablesorter();
    });

    function mySelectKI(num) {
        let ki = $('#select_ki' + num).val();
        if (ki == "" || ki == "K") {
            $('#text_ki' + num).text("Không đánh giá");
        } else if (ki == "A+") {
            $('#text_ki' + num).text("Hoàn thành NV/CV");
        } else if (ki == "A") {
            $('#text_ki' + num).text("Hoàn thành NV/CV");
        } else if (ki == "B") {
            $('#text_ki' + num).text("Hoàn thành NV/CV");
        } else if (ki == "C") {
            $('#text_ki' + num).text("Hoàn thành NV/CV");
        } else if (ki == "D") {
            $('#text_ki' + num).text("Không hoàn thành NV/CV");
        }
        //rentCapacity();
        $('#button' + num).prop("disabled", false);

    }

    function saveChangeKI(btn, num) {
        $(btn).prop("disabled", true);
        let data = $(btn).parent().parent()
        let ki_id = $(btn).parent().parent().attr("ki_id");
        let version_id = $('#version_id1').val();
        let ki_type = 1;
        if (data.find("input:eq(0)").is(':checked') == true) {
            ki_type = 2;
        } else {
            ki_type = 1;
        }
        let empObj = {
            ki_id: ki_id,
            user_code: data.find("td:eq(1)").text(),
            version_id: version_id,
            ki_type: ki_type,
            location: data.find("select:eq(0)").val(),
            labor_rules: data.find("select:eq(1)").val(),
            ki: data.find("select:eq(2)").val(),
            manage_note: $('#m_note' + num).val(),
            note: $('#note' + num).val()
        };
        let url = 'http://' + $(location).attr('host') + '/kpi_ranking/save';
        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            data: empObj,
            success: function (result) {
                rentCapacity();
            },
            error: function () {
            }
        })
    }

    function CheckOne(num) {
        $('#button'+num).prop("disabled", false);
    }


    function checkAll() {

        if ($('input[name="chk_all_goods"]').is(':checked')) {
            $('span').addClass("on");
            $(".chk_goods").prop("checked", true);
        } else {
            $('span').removeClass("on");
            $(".chk_goods").prop("checked", false);
        }
    }

    function rentCapacity() {
        let otNumAPlus = 0;
        let otNumA = 0;
        let otNumB = 0;
        let otNumC = 0;
        let otNumD = 0;
        let otNumK = 0;
        let totalother = 0;
        let numAPlus = 0;
        let numA = 0;
        let numB = 0;
        let numC = 0;
        let numD = 0;
        let numK = 0;
        let totalprimary = 0;
        $('#kpi_table >tbody >tr').each(function (index, tr) {
            if ($(tr.cells[3]).find("a").attr("data-original-title") == "không có KPI nào hoặc CBNV chưa được chấm KPI") {
                $(tr.cells[3]).css('background-color', '#e74c3c');
                $(tr.cells[8]).find("select").val("K")
                $(tr.cells[8]).find("select").prop('disabled', 'disabled');
            } else if ($(tr.cells[3]).find("a").attr("data-original-title") == "KPI chưa chấm hết") {
                $(tr.cells[3]).css('background-color', '#f1c40f');
                $(tr.cells[8]).find("select").val("K")
                $(tr.cells[8]).find("select").prop('disabled', 'disabled');
            } else if ($(tr.cells[3]).find("a").attr("data-original-title") == "KPI đã chấm hết") {
                $(tr.cells[3]).css('background-color', '#3498db');
            }
            if ($(tr.cells[7]).find("input").is(':checked') == true) {
                if ($(tr.cells[8]).find("select").val() == "A+") {
                    numAPlus += 1;
                    totalprimary += 1;
                } else if ($(tr.cells[8]).find("select").val() == "A") {
                    numA += 1;
                    totalprimary += 1;
                } else if ($(tr.cells[8]).find("select").val() == "B") {
                    numB += 1;
                    totalprimary += 1;
                } else if ($(tr.cells[8]).find("select").val() == "C") {
                    numC += 1;
                    totalprimary += 1;
                } else if ($(tr.cells[8]).find("select").val() == "D") {
                    numD += 1;
                    totalprimary += 1;
                } else if ($(tr.cells[8]).find("select").val() == "K") {
                    numK += 1;
                    totalprimary += 1;
                } else {
                    numK += 1;
                    totalprimary += 1;
                }
            } else {
                if ($(tr.cells[8]).find("select").val() == "A+") {
                    otNumAPlus += 1;
                    totalother += 1;
                } else if ($(tr.cells[8]).find("select").val() == "A") {
                    otNumA += 1;
                    totalother += 1;
                } else if ($(tr.cells[8]).find("select").val() == "B") {
                    otNumB += 1;
                    totalother += 1;
                } else if ($(tr.cells[8]).find("select").val() == "C") {
                    otNumC += 1;
                    totalother += 1;
                } else if ($(tr.cells[8]).find("select").val() == "D") {
                    otNumD += 1;
                    totalother += 1;
                } else if ($(tr.cells[8]).find("select").val() == "K") {
                    otNumK += 1;
                    totalother += 1;
                } else {
                    otNumK += 1;
                    totalother += 1;
                }
            }
        })
        $('#otNumAPlus').text(otNumAPlus);
        $('#otNumA').text(otNumA);
        $('#otNumB').text(otNumB);
        $('#otNumC').text(otNumC);
        $('#otNumD').text(otNumD);
        $('#otNumK').text(otNumK);
        $('#totalother').text(totalother);
        $('#otNumAPlusByCapa').text(Math.round((totalother - otNumK) * 0.1 * 100) / 100);
        $('#otNumAByCapa').text(Math.round((totalother - otNumK) * 0.15 * 100) / 100);
        $('#otNumBByCapa').text(Math.round((totalother - otNumK) * 0.6 * 100) / 100);
        $('#otNumCByCapa').text(Math.round((totalother - otNumK) * 0.12 * 100) / 100);
        $('#otNumDByCapa').text(Math.round((totalother - otNumK) * 0.03 * 100) / 100);
        $('#totalOtherCapa').text((totalother - otNumK));
        if (totalother - otNumK != 0) {
            $('#otRealAPlusCapa').text(Math.round(otNumAPlus / (totalother - otNumK) * 100 * 100) / 100 + "%");
            if (otNumAPlus / (totalother - otNumK) * 100 > 10) {
                $('#otRealAPlusCapa').css('background-color', '#e74c3c');
            } else {
                $('#otRealAPlusCapa').css('background-color', "white");
            }
            $('#otRealACapa').text(Math.round(otNumA / (totalother - otNumK) * 100 * 100) / 100 + "%");
            if ((otNumAPlus / (totalother - otNumK) * 100 + otNumA / (totalother - otNumK) * 100) > 25) {
                $('#otRealACapa').css('background-color', '#e74c3c');
            } else {
                $('#otRealACapa').css('background-color', "white");
            }
            $('#otRealBCapa').text(Math.round(otNumB / (totalother - otNumK) * 100 * 100) / 100 + "%");
            $('#otRealCCapa').text(Math.round(otNumC / (totalother - otNumK) * 100 * 100) / 100 + "%");
            if ((otNumC / (totalother - otNumK) * 100 + otNumD / (totalother - otNumK) * 100) < 15) {
                $('#otRealCCapa').css('background-color', '#e74c3c');
            } else {
                $('#otRealCCapa').css('background-color', "white");
            }
            $('#otRealDCapa').text(Math.round(otNumD / (totalother - otNumK) * 100 * 100) / 100 + "%");
            if (otNumD / (totalother - otNumK) * 100 < 3) {
                $('#otRealDCapa').css('background-color', '#e74c3c');
            } else {
                $('#otRealDCapa').css('background-color', "white");
            }
        } else {
            $('#otRealAPlusCapa').text("0%");
            $('#otRealAPlusCapa').css('background-color', "white");
            $('#otRealACapa').text("0%");
            $('#otRealACapa').css('background-color', "white");
            $('#otRealBCapa').text("0%");
            $('#otRealBCapa').css('background-color', "white");
            $('#otRealCCapa').text("0%");
            $('#otRealCCapa').css('background-color', "white");
            $('#otRealDCapa').text("0%");
            $('#otRealDCapa').css('background-color', "white");
        }
        $('#numAPlus').text(numAPlus);
        $('#numA').text(numA);
        $('#numB').text(numB);
        $('#numC').text(numC);
        $('#numD').text(numD);
        $('#numK').text(numK);
        $('#totalprimary').text(totalprimary);
        $('#numAByCapa').text(Math.round((totalprimary - numK) * 0.15 * 100) / 100);
        $('#numBByCapa').text(Math.round((totalprimary - numK) * 0.7 * 100) / 100);
        $('#numCByCapa').text(Math.round((totalprimary - numK) * 0.15 * 100) / 100);
        $('#totalPrimaryCapa').text((totalprimary - numK));
        if (totalprimary - numK != 0) {
            $('#realAPlusCapa').text(Math.round(numAPlus / (totalprimary - numK) * 100 * 100) / 100 + "%");
            $('#realACapa').text(Math.round(numA / (totalprimary - numK) * 100 * 100) / 100 + "%");
            if ((numA / (totalprimary - numK) * 100) > 15) {
                $('#realACapa').css('background-color', '#e74c3c');
            } else {
                $('#realACapa').css('background-color', "white");
            }
            $('#realBCapa').text(Math.round(numB / (totalprimary - numK) * 100 * 100) / 100 + "%");
            if ((numA / (totalprimary - numK) * 100 + numB / (totalprimary - numK) * 100) > 85) {
                $('#realBCapa').css('background-color', '#e74c3c');
            } else {
                $('#realBCapa').css('background-color', "white");
            }
            $('#realCCapa').text(Math.round(numC / (totalprimary - numK) * 100 * 100) / 100 + "%");
            if ((numC / (totalprimary - numK) * 100 + numD / (totalprimary - numK) * 100) < 15) {
                $('#realCCapa').css('background-color', '#e74c3c');
            } else {
                $('#realCCapa').css('background-color', "white");
            }
            $('#realDCapa').text(Math.round(numD / (totalprimary - numK) * 100 * 100) / 100 + "%");
            if ((numC / (totalprimary - numK) * 100 + numD / (totalprimary - numK) * 100) < 15) {
                $('#realDCapa').css('background-color', '#e74c3c');
            } else {
                $('#realDCapa').css('background-color', "white");
            }
        } else {
            $('#realAPlusCapa').text("0%");
            $('#realAPlusCapa').css('background-color', "white");
            $('#realACapa').text("0%");
            $('#realACapa').css('background-color', "white");
            $('#realBCapa').text("0%");
            $('#realBCapa').css('background-color', "white");
            $('#realCCapa').text("0%");
            $('#realCCapa').css('background-color', "white");
            $('#realDCapa').text("0%");
            $('#realDCapa').css('background-color', "white");
        }
    }

    function submitKI() {
        let check = true;
        let message = "";
        $('td[name ="validateCapa"]').each(function () {
            if ($(this)[0].style.backgroundColor == "rgb(231, 76, 60)") {
                check = false;
                message = "Vui lòng kiểm tra lại điều kiện về tỷ lệ KI";
            }
        });
        $('#kpi_table >tbody >tr').each(function (index, tr) {
            if ($(tr.cells[3]).find("a").attr("data-original-title") == "không có KPI nào hoặc CBNV chưa được chấm KPI" || $(tr.cells[3]).find("a").attr("data-original-title") == "KPI chưa chấm hết") {
                check = false;
                message = "chưa chấm hết KI";
            }
        });
        if (check == true) {
            let version_id = $('#version_id1').val();
            let empObj = {
                version_id: version_id,
                status: 1
            };
            let url = 'http://' + $(location).attr('host') + '/kpi_ranking/saveAllKI';
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                data: empObj,
                success: function (result) {
                    $('#btndefault').hide();
                    if(alert('đã chốt, đợi phản hồi từ phòng TCLD')){}
                    else    window.location.reload();
                },
                error: function () {
                }
            })
        } else {
            alert(message);
        }
    }

    function detailKPI(uid, vid) {
        let url = 'http://' + $(location).attr('host') + '/kpi_ranking/get_user_kpi?uid=' + uid + '&&vid=' + vid;
        window.open(url, "_blank");
    }

    function selectRightLaw(num) {
        $('#button'+num).prop("disabled", false);
    }

    function selectRightLocation(num) {
        $('#button'+num).prop("disabled", false);
    }
    function changeMNote(num) {
        $('#button'+num).prop("disabled", false);
    }
    function changeNote(num) {
        $('#button'+num).prop("disabled", false);
    }

</script>